@import url("https://fonts.googleapis.com/css?family=Montserrat|Norican");
body, button, input, select, textarea {
    font-family: 'Montserrat', sans-serif; }

$color: #1D9C73;
.site-logo{
    font-family: 'Norican', sans-serif;
    color: #fff;
    font: {
        size: 3em;
    }
    &:hover{
        color: #fff;
        text-decoration: none;
    }
}
.site-title{
    position: relative;
    text-align: center;
    color: $color;
    padding-bottom: 10px;
    margin-bottom: 10px;
    &::after{
        content: '';
        position: absolute;
        width: 50px;
        border-bottom: 4px $color dotted;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
.circle-topright{
    &::before{
        content: 'lorem';
        background-color: #DF3839;
        position: absolute;
        top: -30px;
        right: 0;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        line-height: 60px;
        text-align: center;
        color: #fff;
        z-index: 600;
    }
}
.triangle-topleft{
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    border-top: 100px solid #7AC673;
    border-right: 100px solid transparent;
    & .triangle-topleft-text{
        position: absolute;
        top: -80px;
        left: 5px;
        font-size: 1.3em;
        color: #fff;
        display: inline-block;
        transform: rotate(-45deg);
    }
}
.card{
    margin: 2px 0;
    .card-body{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &__price{
        color: $color;
        font-size: 1.3em;
        font-weight: bold;
    }
    &__text{
        color: #666;
    }
}